{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
</body>
</html>
<!DOCTYPE html>
      <html lang="en">
           <title>Health Template - News Page</title>

           
           <meta charset="UTF-8">
           <meta http-equiv="X-UA-Compatible" content="IE=Edge">
           <meta name="description" content="">
           <meta name="keywords" content="">
           <meta name="author" content="Tooplate">
           <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
      
           <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
           <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
      
           <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
           <link rel="stylesheet" href="{% static 'css/animate.css' %}">
      
           <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
           <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
      
           <!-- MAIN CSS -->
          <link rel="stylesheet" href="{% static 'css/tooplate-style.css' %}">
      
      </head>
      <body id="top" data-spy="scroll" data-target=".navbar-collapse" data-offset="50">
      
           <!-- PRE LOADER -->
           <section class="preloader">
                <div class="spinner">
      
                     <span class="spinner-rotate"></span>
                     
                </div>
           </section>
      
      
           <!-- HEADER -->
           <header>
                <div class="container">
                     <div class="row">
      
                          <div class="col-md-4 col-sm-3">
                               <p>Welcome to a Professional Emiew Mermaidr</p>
                          </div>
                               
                          <div class="col-md-8 col-sm-9 text-align-right">
                               <span class="phone-icon"><i class="fa fa-phone"></i> 096-180-1794</span>
                               <span class="date-icon"><i class="fa fa-calendar-plus-o"></i> 6:00 AM - 10:00 PM (Mon-Fri)</span>
                               <span class="email-icon"><i class="fa fa-envelope-o"></i> <a href="#">armkun.123@gmial.com</a></span>
                          </div>
      
                     </div>
                </div>
           </header>
      
      
       <!-- MENU -->
       <section class="navbar navbar-default navbar-static-top" role="navigation">
            <div class="container">
  
                 <div class="navbar-header">
                      <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                           <span class="icon icon-bar"></span>
                           <span class="icon icon-bar"></span>
                           <span class="icon icon-bar"></span>
                      </button>
  
                      <!-- lOGO TEXT HERE -->
                      <a href="/index" class="navbar-brand"><i class='fa fa-etsy'></i>miew Mermaidr</a>
                 </div>
  
                 <!-- MENU LINKS -->
                 <div class="collapse navbar-collapse">
                      <ul class="nav navbar-nav navbar-right">
                           <li><a href="/index" class="smoothScroll">Home</a></li>
                           <li><a href="" class="smoothScroll">test</a></li>
                           <li><a href="" class="smoothScroll">test</a></li>
                           <li><a href="" class="smoothScroll">test</a></li>
                           <li><a href="" class="smoothScroll">สมัครแม่บ้าน</a></li>
                           <li class="appointment-btn"><a href="/loginfrom">iogin</a></li>
                           
                      </ul>
                 </div>
  
            </div>
       </section>    

       <!-- SCRIPTS -->  
       <script src="{% static 'js/jquery.js' %}"></script>
       <script src="{% static 'js/bootstrap.min.js' %}"></script>
       <script src="{% static 'js/jquery.sticky.js' %}"></script>
       <script src="{% static 'js/jquery.stellar.min.js' %}"></script>
       <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
       <script src="{% static 'js/magnific-popup-options.js' %}"></script>
       <script src="{% static 'js/wow.min.js' %}"></script>
       <script src="{% static 'js/smoothscroll.js' %}"></script>
       <script src="{% static 'js/owl.carousel.min.js' %}"></script>
       <script src="{% static 'js/custom.js' %}"></script>
      </html>

      {%block content%}

      {%endblock%}

                     
     <div class="col-md-12 col-sm-12 border-top">
               <div class="copyright-text"> 
                    
                    <!-- FOOTER -->
                    <section data-stellar-background-ratio="5" >
                         <div class="container">
                              <section class="row">

                                   <div class="col-md-4 col-sm-4">
                                        <div class="footer-thumb"> 
                                             <h4 class="wow fadeInUp" data-wow-delay="0.4s">Contact Info</h4>

                                             <div class="contact-info">
                                                  <p><i class="fa fa-phone"></i> 096-180-1794</p>
                                                  <p><i class="fa fa-envelope-o"></i> <a href="#">armkun.1233@gmail.com</a></p>
                                             </div>
                                        </div>
                                   </div>

                                   <div class="col-md-4 col-sm-4"> 
                                        <div class="footer-thumb"> 
                                             <h4 class="wow fadeInUp" data-wow-delay="0.4s">New Service</h4>
                                             <div class="latest-stories">
                                                  <div class="stories-image">
                                                       <a href="#"><img src="{% static 'images/clean-the-pool.jpg' %}" class="img-responsive" alt=""></a>
                                                  </div>
                                                  <div class="stories-info">
                                                       <a href="/index"><h5>ล้างสระว่ายน้ำ</h5></a>
                                                       <span>Pool cleaning</span>
                                                  </div>
                                             </div>

                                             <div class="latest-stories">
                                                  <div class="stories-image">
                                                       <a href="#"><img src="{% static 'images/Eliminate-dust-mites.jpg' %}" class="img-responsive" alt=""></a>
                                                  </div>
                                                  <div class="stories-info">
                                                       <a href="/index"><h5>กำจักไรฝุ่น</h5></a>
                                                       <span>Eliminate dust mites</span>
                                                  </div>
                                             </div>
                                        </div>
                                   </div>

                                   <div class="col-md-4 col-sm-4"> 
                                        <div class="footer-thumb">
                                             <div class="opening-hours">
                                                  <h4 class="wow fadeInUp" data-wow-delay="0.4s">Opening Hours</h4>
                                                  <p>Monday - Friday <span>06:00 AM - 10:00 PM</span></p>
                                                  <p>Saturday <span>09:00 AM - 08:00 PM</span></p>
                                                  <p>Sunday <span>Closed</span></p>
                                             </div> 

                                             <ul class="social-icon">
                                                  <li><a href="#" class="fa fa-facebook-square" attr="facebook icon"></a></li>
                                                  <li><a href="#" class="fa fa-twitter"></a></li>
                                                  <li><a href="#" class="fa fa-instagram"></a></li>
                                             </ul>
                                        </div>
                                   </div>  
                                   
                              </section>             
                    </section>
               </div>

     </div>

  
